<!-- Dimensions
    - Mobile : 376 x 667
    - Tablet : 768 × 1024
    - Desktop: 1440 × 800
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>X. It’s what’s happening / X</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/x.avif' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <script src="{% static 'js/account.js' %}"></script>
  </head>

  <body>
    <article class="centerPe dadaji">
      <div id="overlay"></div>
      {% include 'accounts/signUp.html' %} {% include 'accounts/signIn.html' %}
      <article class="sabkaBaap_n_footer">
        <section class="sabkaBaap">
          <aside class="asidetwitter">𝕏</aside>
          <article class="loginArticle">
            <div class="happeningNow whiteText">Happening now</div>
            <div class="joinToday whiteText">Join today.</div>
            <nav>
              <form class="initialForm">
                {% include 'accounts/thirdPartySignIn.html' %}
                <button
                  class="roundedBtn createAccountBtn whiteText noBorder biggerText"
                  type="button"
                  onclick="onAccountCreate()"
                >
                  <b>Create Account</b>
                </button>
                {% include 'accounts/termsConditions.html' %}
                <h3 class="whiteText biggerText">Already have an account?</h3>
                <button
                  class="roundedBtn signInBtn biggerText"
                  type="button"
                  onclick="onSignIn()"
                >
                  <b>Sign in</b>
                </button>
              </form>
            </nav>
          </article>
        </section>
        {% include 'accounts/footer.html' %}
      </article>
    </article>
  </body>
</html>
