{% load static %}
<button class="roundedBtn noBorder googleSignIn" type="button" onclick="onSignIn()">
    <div>
        <div class="googleUserPanchnama">
            <div class="circular-container">
                <img src="{% static 'images/neko.jpg' %}" alt="User Image">
            </div>
            <div class="googleUserPanchnamaTexts">
                <div>Sign in as Subhadeep</div>
                <div class="grayText smallText">ultrasubha@gmail.com ⌄</div>
            </div>
        </div>
    </div>
    <div class="circular-container">
        <img src="{% static 'images/google.png' %}" alt="Sasta Google">
    </div>
</button>