<div class="smallText">
    <span class="grayText">By signing up, you agree to the</span>
    <a href="https://about.twitter.com" dir="ltr" rel="noopener noreferrer nofollow"
        target="_blank" role="link">
        <span class="dodgerText">Terms of Service</span>
    </a>
    <span class="grayText">and</span>
    <a href="https://about.twitter.com" dir="ltr" rel="noopener noreferrer nofollow"
        target="_blank" role="link">
        <span class="dodgerText">Privacy Policy</span>
    </a>
    <span class="grayText">, including</span>
    <a href="https://about.twitter.com" dir="ltr" rel="noopener noreferrer nofollow"
        target="_blank" role="link">
        <span class="dodgerText">Cookie Use.</span>
    </a>
</div>