<div class="grayText">
    By signing up, you agree to the
    <a href="https://about.twitter.com" dir="ltr" rel="noopener noreferrer nofollow"
        target="_blank" role="link">
        <span>Terms of Service</span>
    </a>
    and
    <a href="https://about.twitter.com" dir="ltr" rel="noopener noreferrer nofollow"
        target="_blank" role="link">
        <span>Privacy Policy</span>
    </a>
    , including
    <a href="https://about.twitter.com" dir="ltr" rel="noopener noreferrer nofollow"
        target="_blank" role="link">
        <span>Cookie Use.</span>
    </a>
</div>