{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>(1) Home / X</title>
    <link rel="icon" type="image/x-icon" href="images/x.avif" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
     {% load custom_filters %}
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <link rel="stylesheet" href="{% static 'test.css' %}" />
  </head>
<body>
    <nav>{% include 'homeApp/navbar.html' %}</nav>
    <article class="faintBorder">{% include 'homeApp/tweets.html' %}</article>
    <aside>{% include 'homeApp/latest.html' %}</aside>
    {% comment %} <div id="content">
        <article>{% block tweets %}{% endblock %}</article>
        <aside>{% block latest %}{% endblock %}</aside>
    </div> {% endcomment %}
</body>
</html>
