{% load static %}
<div class="searchBar cards">
  <span class="fa fa-search grayText"></span>
  <input class="" type="text" name="search" id="search" placeholder="search" />
</div>
<div class="onePad cards">
  <div class="semiLargeText weighty whiteText">Subscribe to Premium</div>
  <div class="whiteText">
    Subscribe to unlock new features and if eligible, receive a share of ads
    revenue.
  </div>
  <button>Subscribe</button>
</div>
<div class="onePad cards">
  <div class="semiLargeText weighty whiteText">What’s happening</div>
  <div class="whiteText">
    <div class="farApart grayText smallText">
      <div>Politics Tending</div>
      <span class="fa fa-ellipsis-h"></span>
    </div>
    <div>#Alt Balaji</div>
    <div class="farApart grayText smallText">1,414 posts</div>
  </div>
  <div class="whiteText">
    <div class="farApart grayText smallText">
      <div>Politics Tending</div>
      <span class="fa fa-ellipsis-h"></span>
    </div>
    <div>#Alt Balaji</div>
    <div class="farApart grayText smallText">1,414 posts</div>
  </div>
  <button>Subscribe</button>
</div>
<div class="onePad cards">
  <div class="semiLargeText weighty whiteText">Who to follow</div>
  <div class="farApart">
    <div class="farApart">
      <div class="imgContainer">
        <img src="img_girl.jpg" alt="img" width="100%" height="100%" />
      </div>
      <div class="whoToFollow">
        <div class="whiteText">PMO India</div>
        <div class="whiteText">@PMOIndia</div>
      </div>
    </div>
    <button class="followButton">Follow</button>
  </div>
  <div class="farApart">
    <div class="farApart">
      <div class="imgContainer">
        <img src="img_girl.jpg" alt="img" width="100%" height="100%" />
      </div>
      <div class="whoToFollow">
        <div class="whiteText">PMO India</div>
        <div class="whiteText">@PMOIndia</div>
      </div>
    </div>
    <button class="followButton">Follow</button>
  </div>
  <div class="skyBlue" href="">Show more</div>
</div>
<footer aria-label="Footer" role="navigation">
  <a
    href="https://help.twitter.com/using-x/download-the-x-app"
    dir="ltr"
    rel="noopener noreferrer nofollow"
    target="_blank"
    role="link"
  >
    <span>Terms of Service</span>
  </a>
  <a
    href="https://help.twitter.com"
    dir="ltr"
    rel="noopener noreferrer nofollow"
    target="_blank"
    role="link"
  >
    <span>Privacy Policy</span>
  </a>
  <a
    href="https://twitter.com/tos"
    dir="ltr"
    rel="noopener noreferrer nofollow"
    target="_blank"
    role="link"
  >
    <span>Cookie Policy</span>
  </a>
  <a
    href="https://twitter.com/privacy"
    dir="ltr"
    rel="noopener noreferrer nofollow"
    target="_blank"
    role="link"
  >
    <span>Accessibility</span>
  </a>
  <a
    href="https://support.twitter.com/articles/20170514"
    dir="ltr"
    rel="noopener noreferrer nofollow"
    target="_blank"
    role="link"
  >
    <span>Ads info</span>
  </a>
  <a
    href="https://help.twitter.com/resources/accessibility"
    dir="ltr"
    rel="noopener noreferrer nofollow"
    target="_blank"
    role="link"
  >
    <span>More ...</span>
  </a>
  <div dir="ltr">
    <span>© 2024 X Corp.</span>
  </div>
</footer>
