{% load static %}
<a aria-label="X" href="">
  <span class="iconsTexts oneRemWidth">𝕏</span>
</a>
<a aria-label="X" href="">
  <span class="fa fa-home"></span>
  <span class="iconsTexts">Home</span>
</a>
<a aria-label="X" href="">
  <span class="fa fa-search"></span>
  <span class="iconsTexts">Explore</span>
</a>
<a aria-label="X" href="">
  <span class="fa fa-bell-o"></span>
  <span class="iconsTexts">Notifications</span>
</a>
<a aria-label="X" href="">
  <span class="fa fa-envelope-o"></span>
  <span class="iconsTexts">Messages</span>
</a>
<a aria-label="X" href="">
  <span class="fa fa-minus-square-o"></span>
  <span class="iconsTexts">Grok</span>
</a>
<a aria-label="X" href="">
  <span class="fa fa-list"></span>
  <span class="iconsTexts">Lists</span>
</a>
<a aria-label="X" href="">
  <span class="fa fa-users"></span>
  <span class="iconsTexts">Communities</span>
</a>
<a aria-label="X" href="">
  <span class="fa fa-twitter"></span>
  <span class="iconsTexts">Premium</span>
</a>
<a aria-label="X" href="">
  <span class="fa fa-user-o"></span>
  <span class="iconsTexts">Profile</span>
</a>
<a aria-label="X" href="">
  <span class="fa fa-ellipsis-h"></span>
  <span class="iconsTexts">More</span>
</a>
<button>Post</button>
<a class="onlyFlex" aria-label="X" href="">
  <div class="imgContainer">
    <img src="img_girl.jpg" alt="img" width="100%" height="100%" />
  </div>
  <span class="iconsTexts">UserName</span>
</a>
