{% load static %}
<nav>
  <a class="iconsTexts" aria-label="X" href="#tweets">
    <span class="oneRemWidth mahaText">𝕏</span>
  </a>
  <a class="iconsTexts" aria-label="X" href="#tweets">
    <span class="fa fa-home"></span>
    <span>Home</span>
  </a>
  <a class="iconsTexts" aria-label="X" href="#Explore">
    <span class="fa fa-search"></span>
    <span>Explore</span>
  </a>
  <a class="iconsTexts" aria-label="X" href="#Notifications">
    <span class="fa fa-bell-o"></span>
    <span>Notifications</span>
  </a>
  <a class="iconsTexts" aria-label="X" href="#Messages">
    <span class="fa fa-envelope-o"></span>
    <span>Messages</span>
  </a>
  <a class="iconsTexts" aria-label="X" href="#Grok">
    <span class="fa fa-minus-square-o"></span>
    <span>Grok</span>
  </a>
  <a class="iconsTexts" aria-label="X" href="#Lists">
    <span class="fa fa-list"></span>
    <span>Lists</span>
  </a>
  <a class="iconsTexts" aria-label="X" href="#Communities">
    <span class="fa fa-users"></span>
    <span>Communities</span>
  </a>
  <a class="iconsTexts" aria-label="X" href="#Premium">
    <span class="fa fa-twitter"></span>
    <span>Premium</span>
  </a>
  <a class="iconsTexts" aria-label="X" href="#Profile">
    <span class="fa fa-user-o"></span>
    <span>Profile</span>
  </a>
  <a class="iconsTexts" aria-label="X" href="#More">
    <span class="fa fa-ellipsis-h"></span>
    <span>More</span>
  </a>
  <button>Post</button>
  <a id="toggleLogOutAnchor" class="onlyFlex mediumText farApart iconsTexts logOutBtn" aria-label="X" onclick="toggleLogOut()">
    <div class="farApart">
      <div class="imgContainer">
        <img src="img_girl.jpg" alt="img" width="100%" height="100%" />
      </div>
      <div class="columnApart halfPadLeft">
        <span class="">{{ user }}</span>
        <span class="grayText">@{{ user }}</span>
      </div>
    </div>
    <span class="fa fa-ellipsis-h wellCentered"></span>
  </a>
</nav>

<div class="nodisplay faintBorder whiteText logOutSection columnApart columnApart_ChildrenStyles">
  <div><a>Add an exisiting account</a></div>
  <div><a href="/logout/">Logout @{{ user }}</a></div>
</div>