{% load static %} {% load custom_filters %}
<section class="stickyUpper onlyFlex">
    <a href="#tweets"><span class="fa fa-arrow-left whiteText"></span></a>
    <div class="name"> {{ user }}</div>
</section>
<section>
    <div class="coverPhoto chaloLastMein columnApart test2">
        <div class="newImgContainer imgBorder">
            <img src="img_girl.jpg" alt="img" width="100%" height="100%">
        </div>
    </div>
    <div class="bioTextArea">
        <div class="chaloLastMein">
            <button class="editProfile">Edit Profile</button>
        </div>

        <div class="columnApart">
            <div>
                <div class="name">{{ user }}</div>
                <div class="smallText grayText">@{{ user }}</div>
            </div>
            <div class="smallText grayText">
                <span class="fa fa-calendar"></span>
                Joined February 2024
            </div>
            <div class="onlyFlex">
                <div>
                    <span  class="name">1</span>
                    <span class="smallText grayText">Following</span>
                </div>
                <div class="onePad"></div>
                <div>
                    <span  class="name">0</span>
                    <span class="smallText grayText">Followers</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="farApart whiteText onePad">
        <div>Posts</div>
        <div>Replies</div>
        <div>Highlights</div>
        <div>Articles</div>
        <div>Media</div>
        <div>Likes</div>
    </div>
</section>
<section class="feed faintBorder">
    <div class="whiteText farApart">
        <div class="farApart">
            <div class="imgContainer">
                <img src="img_girl.jpg" alt="img" width="100%" height="100%">
            </div>
            <div class="">
                <div class="whiteText">kira 👾@kirawontmiss·5h</div>
                <div>
                    These men are not special forces, they are members of the criminal group CJNG, one of the
                    most powerful and feared cartels in Mexico.
                </div>
                <div class="mediaContent">
                    <img src="../x_proj/media/aaron-burden-Q_5UTUA58Z4-unsplash.jpg" alt="img" width="100%" height="100%">
                </div>
                <div class="farApart postInteractIcons">
                    <span class="fa fa-comment-o"></span>
                    <span class="fa fa-retweet"></span>
                    <span class="fa fa-heart-o"></span>
                    <span class="fa fa-bar-chart"></span>
                    <div class="bookmarkShare">
                        <span class="fa fa-bookmark"></span>
                        <span class="fa fa-upload"></span>
                    </div>
                </div>
            </div>
        </div>
        <span class="fa fa-ellipsis-h"></span>
    </div>
</section>
<section class="onePad wtfSection">
    <div class="semiLargeText weighty whiteText">Who to follow</div>
    <div class="farApart">
        <div class="farApart">
            <div class="imgContainer">
                <img src="img_girl.jpg" alt="img" width="100%" height="100%">
            </div>
            <div class="whoToFollow">
                <div class="whiteText">PMO India</div>
                <div class="whiteText">@PMOIndia</div>
            </div>
        </div>
        <button class="followButton">Follow</button>
    </div>
    <div class="farApart">
        <div class="farApart">
            <div class="imgContainer">
                <img src="img_girl.jpg" alt="img" width="100%" height="100%">
            </div>
            <div class="whoToFollow">
                <div class="whiteText">PMO India</div>
                <div class="whiteText">@PMOIndia</div>
            </div>
        </div>
        <button class="followButton">Follow</button>
    </div>
    <div class="skyBlue" href="">Show more</div>
</section>