<!-- Dimensions
    - Mobile : 376 x 667
    - Tablet : 768 × 1024
    - Desktop: 1440 × 800
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title </title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="script.js"></script>
</head>

<body>
    <header>Profile</header>
    <nav></nav>
    <section></section>
    <article></article>
    <aside></aside>
    <footer></footer>
</body>
</html>
<!--
    <article>	    Defines independent, self-contained content
    <aside>	        Defines content aside from the page content
    <details>	    Defines additional details that the user can view or hide
    <figcaption>	Defines a caption for a <figure> element
    <figure>	    Specifies self-contained content, like illustrations, diagrams, photos, code listings, etc.
    <footer>	    Defines a footer for a document or section
    <header>	    Specifies a header for a document or section
    <main>	        Specifies the main content of a document
    <mark>	        Defines marked/highlighted text
    <nav>	        Defines navigation links
    <section>	    Defines a section in a document
    <summary>	    Defines a visible heading for a <details> element
    <time>	        Defines a date/time
-->