a:link {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  background-color: inherit;
}

a:active {
  color: inherit;
  background-color: inherit;
}

.imgdefault {
  background-color: rgba(0, 0, 0, 0.76);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
}

/* Styles for Mobile (up to 376px wide) */
@media only screen and (max-width: 376px) {
}

/* Styles for Tablet (between 377px and 768px wide) */
@media only screen and (min-width: 377px) and (max-width: 768px) {
}

/* Styles for Desktop (769px wide and above) */
@media only screen and (min-width: 769px) {
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    padding: 0.5rem 3rem 2rem 6rem;
    font-size: large;
    color: white;
  }

  nav > * {
    padding: 0.7rem;
  }

  nav > *:hover {
    background-color: rgb(64, 64, 64);
    border-radius: 5rem;
  }

  article {
    width: 40%;
    height: 100%;
  }

  .faintBorder {
    border: 1px solid rgb(63, 63, 63);
  }

  .stickyUpper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }

  .stickyUpper > * {
    padding: 1rem;
  }

  .stickyUpperTexts {
    color: #fff;
    font-weight: bold;
    width: 40%;
    text-align: center;
  }

  input[type="file"] {
    display: none;
  }

  input[type="text"] {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    padding-left: 1rem;
  }

  .posticons {
    display: inline-block;
    color: #fff;
    padding: 0.75rem;
    border-radius: 10rem;
    cursor: pointer;
  }

  .postHere {
    padding: 1rem;
  }

  .onlyFlex {
    display: flex;
  }

  .postKSabkuchh {
    width: 100%;
  }

  .postLabels {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    border-top: 1px solid rgb(63, 63, 63);
  }

  .postLabels > * {
    width: 50%;
    border: 2px;
    display: flex;
  }

  .postLabels > div:first-child > * {
    color: dodgerblue;
  }

  .postLabels > div:nth-child(2) {
    justify-content: flex-end;
    align-items: center;
  }

  .feed {
    padding: 1.5rem;
  }

  .grayText {
    color: gray;
  }

  .largeText {
    font-size: x-large;
  }

  .semiLargeText {
    font-size: large;
  }

  .mediumText {
    font-size: medium;
  }

  .smallText {
    font-size: small;
  }

  .fa-user-circle {
    font-size: xxx-large;
  }

  body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: black;
  }

  button {
    border-radius: 10rem;
    border: none;
    color: white;
    background-color: dodgerblue;
    padding: 0.5rem;
    font-size: medium;
  }

  nav > button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    width: 25%;
    overflow-y: auto;
    padding: 0.5rem 1rem 0rem 1rem;
  }

  footer {
    font-size: small;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 7rem;
  }

  footer > * {
    padding: 0.25rem;
  }

  .weighty {
    font-weight: bold;
  }

  .whiteText {
    color: #fff;
  }

  .cards {
    background-color: rgb(40, 40, 40);
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .fourWidthBtn {
    width: 4rem;
    height: 2rem;
  }

  .onePad {
    padding: 1rem;
  }

  .contentBorder {
    border-radius: 1.5rem;
    border: 1px solid rgb(63, 63, 63);
  }

  .searchBar {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10rem;
  }

  .cards > * {
    padding: 0.5rem;
  }

  .farApart {
    display: flex;
    justify-content: space-between;
  }

  .imgContainer {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10rem;
    color: brown;
  }

  .followButton {
    color: black;
    background-color: white;
    width: 5rem;
  }

  .skyBlue {
    color: dodgerblue;
  }

  .mediaContent {
    width: 100%;
  }

  .tweetWithoutUserImg {
    width: 100%;
  }

  .tweetWithoutUserImg > * {
    padding-top: 0.5rem;
  }

  .postInteractIcons {
    width: 100%;
  }

  .postInteractIcons > * {
    width: 20%;
    padding-top: 0.5rem;
  }

  .bookmarkShare {
    text-align: end;
  }

  .bookmarkShare > * {
    padding-left: 1rem;
  }

  .whoToFollow {
    /* background-color: orangered; */
  }

  .circle {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    line-height: 0.75rem;
  }

  .ellipsis {
    display: inline-block;
    font-size: 16px;
  }

  .nodisplay {
    display: none;
  }

  .contentSection {
    display: none;
  }

  .contentSection:target {
    display: block;
    max-height: 100%; /* Set a fixed height for the article and aside */
    overflow: auto;
  }
}
