{% load custom_filters %}
<section class="feed faintBorder">
  <div class="whiteText farApart">
    <div class="imgContainer">
      <img src="img_girl.jpg" alt="img" width="100%" height="100%" />
    </div>
    <div class="tweetWithoutUserImg">
      <div class="whiteText">
        {{ post.author__username }} 👾@{{ post.author__username }} ·
        {{ post.created_at|custom_timesince }}
      </div>
      <div>{{ post.content|linebreaksbr }}</div>
      <div class="mediaContent">
        {% if post.media %} {% if post.media|is_image %}
        <img src="../../../media/{{ post.media }}" alt="img" width="100%" height="100%" class="contentBorder" />
        {% elif post.media|is_video %}
        <video class="contentBorder" width="100%" height="100%" controls>
          <source src="../../../media/{{ post.media }}" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        {% endif %} {% endif %}
      </div>
      {% include 'homeApp/Articles/Common/postInteractIcons.html' %}
    </div>
    <span class="fa fa-ellipsis-h"></span>
  </div>
</section>