a:link {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  background-color: inherit;
}

a:active {
  color: inherit;
  background-color: inherit;
}

footer {
  color: gray;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.imgdefault {
  background-color: rgba(0, 0, 0, 0.76);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
}

#overlay {
  display: none; /* Set initial display to none */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 64, 78, 0.5);
  z-index: 2;
}

.focusBox {
  display: none; /* Set initial display to none */
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: absolute;
  z-index: 3;
  height: 82%;
  width: 40%;
}
