.test1 {
  background-color: darkorchid;
  border: 2px solid red;
}

.test2 {
  background-color: darkgreen;
  border: 2px solid magenta;
}

.test3 {
  background-color: darkgoldenrod;
  border: 2px solid lightgreen;
}

.test4 {
  background-color: darkgray;
  border: 2px solid aquamarine;
}

.test5 {
  background-color: darkred;
  border: 2px solid goldenrod;
}

.test6 {
  background-color: darkmagenta;
  border: 2px solid lightblue;
}
