{% load static %}

  <section class="stickyUpper farApart faintBorder">
    <div class="stickyUpperTexts">For you</div>
    <div class="stickyUpperTexts">Following</div>
    <span class="fa fa-cog whiteText"></span>
  </section>
  <form id="postCreate" class="postHere faintBorder onlyFlex" action="createPost" , method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="imgContainer">
      <img src="img_girl.jpg" alt="img" width="100%" height="100%" />
    </div>
    <div class="postKSabkuchh">
      <textarea class="largeText" type="text" name="mesg" id="mesg" placeholder="What is happening?!" required></textarea>
      <div id="mediaContainer"></div>
      <div id="whoCanReply">
        <i class="fa fa-globe"></i> Everyone Can Reply
      </div>
      <div id="postLabelPanel" class="postLabels">
        {% include 'homeApp/Articles/Common/postLabels.html' %}
      </div>
    </div>
  </form>
  {% for post in posts %}
    <a href="/home/openUp/{{ post.id }}">{% include 'homeApp/Articles/Common/posts.html' %}</a>
  {% endfor %}

